/* smooth scroll */
html {
   scroll-behavior: smooth;
}
/* body */
body {
   background-color: rgb(201, 201, 201);
}


/* home */
.home-image {
   background-image: url("../asset/img/slider/slid3.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.jumbotron-fluid .home-word {
   background-color: rgba(	220, 53, 69,.6);
}


/* slidder */
.carousel-inner{
   max-height: 400px !important;
}
.carousel-caption {
   position: absolute;
}
.slid-1{
   background-image: linear-gradient(115deg, rgb(160, 66, 66),rgba(220, 53, 69,.6));
}
.slid-2{
   background-image: linear-gradient(250deg, rgba(66, 75, 160, 0.6),rgba(64, 53, 220, 0.6));
}
.slid-3{
   background-image: linear-gradient(250deg, rgb(74, 160, 66),rgba(59, 220, 53, 0.6));
}


/* Product */
.product h2 {
   text-shadow: 2px 2px #505050;
}


/* info */
.info-background {
   background-image: linear-gradient(130deg, rgb(220, 53, 220),rgb(220, 53, 69));
}
.info-image img{
   width: 100%;
}


/* about */
.about-card {
   background-image: linear-gradient(130deg,rgba(1, 7, 87, 0.6), rgba(83, 1, 1, 0.6));
}
.about-img {
   background-image: url("../asset/img/slider/slid4.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   border-radius: 0;
   
}
.about-text {
   padding: 5%;
}


/* adds */
.adds .adds-1 {
   background-image: linear-gradient(115deg, rgb(126, 48, 48),rgb(220, 53, 69),rgb(250, 104, 119));
}
.adds .adds-2 {
   background-image: linear-gradient(115deg, rgb(48, 92, 38),rgb(49, 158, 39),rgb(81, 255, 0));
}
.adds-image {
   overflow: hidden;
}
.adds-image img{
   
   object-fit: cover;
   max-height: 320px !important;
}
.adds-3 {
   background-image: url("../asset/img/slider/slid8.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
}
.adds-4 {
   background-image: url("../asset/img/slider/slid9.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
}
.adds-card {
   background-image: linear-gradient(130deg,rgba(1, 7, 87, 0.6), rgba(83, 1, 1, 0.6));
}


/* langganan */
.bg-langganan{
   /* background-color: rgb(252, 160, 160); */
   background-color: rgb(169, 154, 255);
}


/* hubungi */
.hubungi {
   background-image: linear-gradient(rgb(62, 126, 48),rgb(49, 158, 39));
}


/* footer */
footer .fab {
   font-size: 30px;
   border-radius: 50%;
}


/* Responsive */
@media (max-width: 575.98px) {
   .slid-1,
   .slid-2,
   .slid-3 {
      left: 0;
   }
}
@media (min-width: 576px){
   .slid-1,
   .slid-2,
   .slid-3 {
      left: 0;
   }

}
@media (min-width: 768px){
   .slid-1 {
      left: 0;
   }
   .slid-2 {
      left: 25%;
   }
   .slid-3 {
      left: 50%;
   }
}
